<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3> Mi valor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="col-lg-8 col-xs-12">
        <button class="bin danger col-lg-4 col-xs-12 btn btn-danger" name="button" on-click = "incrementar">CargarDatos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <table class="table table-striped col-lg-4 col-xs-12">
          <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </thead>
        <tbody>
          <tr>
            <td>[[prop2]]</td>
            <td>[[prop1]]</td>
            <td>Fuertes</td>
          </tr>
          <tr>

          </tr>
            <td>2</td>
            <td>Luis</td>
            <td>Sanchez</td>

          </tr>
        </tbody>
        </table>
      </div>

        </div>
      </div>
    </div>
    <!--<div class="cointainer">
        <div class="row">
          <div class ="col-lg-3">
            <span>Soy la columna 1</span>
            <img src="https://image.flaticon.com/icons/svg/265/265674.svg" alt=""/>
            <button type="button" name="button" class="btn btn-info">Click</button>
          </div>
          <div class ="col-lg-3">
            <span>Soy la columna 2</span>
            <img src="https://image.flaticon.com/icons/svg/265/265749.svg" alt=""/>
            <button type="button" name="button" class="btn btn-warning">Click</button>
          </div>
          <div class ="col-lg-3">
            <span>Soy la columna 3</span>
            <img src="https://image.flaticon.com/icons/svg/265/265702.svg" alt=""/>
            <button type="button" name="button" class="btn btn-success">Click</button>
          </div>
          <div class ="col-lg-3">
            <span>Soy la columna 4</span>
            <img src="https://image.flaticon.com/icons/svg/265/265736.svg" alt=""/>
            <button type="button" name="button" class="btn btn-danger">Click</button>
          </div>
        </div>
        <div id="divTabla" class = "row">
        </div>
    </div>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            //value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value:999
          },
          prop3:{
            type:String,
            value:'Indique su login'
          }
        };

      }
      incrementar(){
        this.prop2 = this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
  }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
